In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
columns = ["ID", "x_cord", "y_cord", "z_cord", "radius"]

In [5]:
pd.read_csv("pack_six_cube_poly", names = columns)

,ID,x_cord,y_cord,z_cord,radius
0,1 2.2943224014 -1.0464559164 0.705670375 0.706...,NaN,NaN,NaN,NaN
1,2 -2.2131251616 -0.2534282466 0.4179088816 0.4...,NaN,NaN,NaN,NaN
2,3 0.4986979062 -2.2939091778 0.7059446546 0.70...,NaN,NaN,NaN,NaN
3,4 -1.1363949942 2.51662017456 0.4833167708 0.4...,NaN,NaN,NaN,NaN
4,5 2.5828525206 -2.5704232026 0.4170765074 0.41...,NaN,NaN,NaN,NaN
...,...,...,...,...,...
154,156 -1.026100956 1.520969247 6.202284836 0.523...,NaN,NaN,NaN,NaN
155,157 1.2170797572 -0.7873677756 5.30232077 0.33...,NaN,NaN,NaN,NaN
156,158 0.5536985856 2.295029025 5.731413028 0.643...,NaN,NaN,NaN,NaN
157,159 2.5065769272 0.6006610446 6.121709486 0.49...,NaN,NaN,NaN,NaN
158,160 -2.0501973498 -0.0777889722000005 6.039149...,NaN,NaN,NaN,NaN